/* Contenedor principal que usa Flexbox */
.App {
  display: flex;
  height: 100vh;
}

/* Menú lateral fijo */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  padding: 15px 20px;
  font-size: 16px;
}

.sidebar li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar li a:hover {
  background-color: #444;
  border-radius: 5px;
}

/* Contenido principal que se adapta al espacio restante */
/* Contenido principal */
.content {
  flex-grow: 1;
  
  padding-left: 40px; /* Agrega espacio entre el contenido y el menú */
  background-color: #f4f4f4;
  overflow-y: auto;
}

/* src/App.css */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  display: block;
  margin-bottom: 5px;
}

.login-container form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #45a049;
}